*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, monospace;
  font-size: 16px;
  color: #FFFFFF;
}
#root {
  height: 100%; /* Matches the height of its parent (body) */
  display: flex; /* Optional: If you want to structure its child layout */
  flex-direction: column; /* Optional: Sets a column layout */
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures the container fills the full height */
}
section {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #333332;
}
/* Footer -------------------------------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px; /* Set a fixed height */
  padding: 1rem; /* Padding inside the footer */
  background-color: #243533;
}
.footer__contact {

}
.footer__termsConditions {

}
/* Header -------------------------------------------------------------------------------------------------------------*/
.header {
  background-color: #243533;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
}

.logo {
  height: 50px;
  width: 50px;
}
.searchbar-container {
  display: flex;
  flex-direction: column;
}

/* Home Page ---------------------------------------------------------------------------------------------------------*/
.homepage {
  width: 100%;
  height: 100%;
}
/* Now Playing ---------------------------------------------------------------------------------------------------------*/
.now-playing {
  width: 30%;
}
/* Contact Form ---------------------------------------------------------------------------------------------------------*/
.contact-us {
  background-image: url("../public/img/texture.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
}
/* Contact Form ---------------------------------------------------------------------------------------------------------*/
form {
  align-items: center;
  height: 100%;
}
input {
  border-radius: 25px;
  padding: 5px;
  background-color: #243533;
}
textarea {
  border-radius: 25px;
  padding: 5px;
  background-color: #243533;
  width: 100%;
  height: 25%;
}
.contact-us__submit {
  border-radius: 25px;
  margin: 20px;
  padding: 5px;
  background-color: #243533;
  cursor: pointer;
}
form h1 {
  margin: 10px 0;
}
form label {
  margin: 10px 0;
}
.mask {
  mask-image: url('../public/img/circle_mask.jpg');
  mask-size: 50%; /* Resize the mask */
  mask-repeat: no-repeat;
  width: auto;
  height: auto;
}
.error {
  background-color: red;
  font-size: 12px;
  display: block;
  padding: 5px;
  width: 90%;
  border-radius: 15px;
  text-align: center;
}